<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.app.zane.moviedbapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="my.app.zane.moviedbapp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_white_film"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="my.app.zane.moviedbapp.TVDetailsActivity"></activity>
        <activity android:name="my.app.zane.moviedbapp.TrendingDisplay" />
        <activity android:name="my.app.zane.moviedbapp.NowPlayingDisplay" />
        <activity android:name="my.app.zane.moviedbapp.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="my.app.zane.moviedbapp.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="my.app.zane.moviedbapp.FilterResults"
            android:parentActivityName="my.app.zane.moviedbapp.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="my.app.zane.moviedbapp.DisplayResults"
            android:parentActivityName="my.app.zane.moviedbapp.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="my.app.zane.moviedbapp.MovieDetails"
            android:parentActivityName="my.app.zane.moviedbapp.MainActivity" />
        <activity
            android:name="my.app.zane.moviedbapp.WatchListDisplay"
            android:parentActivityName="my.app.zane.moviedbapp.MainActivity" />
        <activity
            android:name="my.app.zane.moviedbapp.MovieRatingsDisplay"
            android:parentActivityName="my.app.zane.moviedbapp.MainActivity" />
        <activity android:name="my.app.zane.moviedbapp.BaseActivity" />
        <activity
            android:name="my.app.zane.moviedbapp.ActorInfoActivity"
            android:parentActivityName="my.app.zane.moviedbapp.MainActivity" />
    </application>

</manifest>